#boxshadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 50px 40px 5px 5px #525252;
}

h2 {
    text-shadow: 50px 40px 5px #525252;
}

header {
    background-image:
}

div {
    background-size: cover;
}

a:link {
    color: black;
    transition: 2s
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
    width: 200px;
}

body {
    background-color: grey;
}

@media only screen and (max-width: 800px) {
    body  {
        background-color: black;
        color: white;
    }


