#boxshadow {
    background-image: ('Auringonlasku.jpeg');
    background-size: cover;
    border: 1px solid;
    padding: 25px;
    box-shadow: 10px 20px 3px 3px #525252;
}

h2 {
    text-shadow: 10px 20px 3px #525252;
    padding-top: 20px;
    padding-bottom: 20px;
}

div  {
    background: url(Red-sunset.jpeg);
    background-size: cover;
    size: 100px;
}

a:link {
    color: black;
    transition: 2s
}

a:visited {
    color: black
}

a:hover {
    color: red;
    width: 200px;te
}

@media only screen and (max-width: 800px) {
    body a:link {
        background-color: black;
        color: white;   
    }