#header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    }

 * {
     box-sizing: border-box;
    }

body {
    background-color: lightblue;
    }

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    font-family: arial;
    background-color: white;
    color: black;
    }

nav ul { list-style-type: none; }
nav a {text-decoration: none;}

main {
    float: left;
    width: 70%;
    height: 40%;
    background-color:lightgreen;
    padding: 20px;
    }

/* mouse over link */
a:hover {
    color: red;
}

#article {
    float: left;
    padding: 20px;
    width: 70px;

}

.column {
    float:left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: 25px;
    background-color:white;
    border-radius: 15%;
    width: 400px;
    height: 50px;  
}

img { border-width 2px; 
    border-style: solid;
    color: white;
    border-radius: 5px;
    } 

    /* Style the footer */
footer {
    background-color:black;
    }