#header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    }

 * {
     box-sizing: border-box;
    }

body {
    background-color: lightblue;
    }

nav {
    float: left;
    width: 30%;
    padding: 10px;
    font-family: arial;
    background-color: white;
    color: black;
    }

nav ul { list-style-type: none; }
nav a {text-decoration: none;}

main {
    float: left;
    width: 70%;
    height: 40%;
    background-color:lightgreen;
    padding: 20px;
    }

/* mouse over link */
a:hover {
    color: red;
}

#article {
    float: left;
    padding: 20px;
    width: 70px;
}

#aside {
    float: right;
    padding: 20px;
    width: 70px;
}

p {
    font-size: 25px;
    background-color:white;
    border-radius: 15%;
    width: 400px;
    height: 50px;  
}

img { 
    float: center;
    border-width 2px; 
    border-style: solid;
    color: white;
    border-radius: 5px;
    } 

#footer {
    background-color:black;
    text-align: center;
    font-size: 20px;
    color:white;
    }