#header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    }

 * {
     box-sizing: border-box;
    }

body {
    background-color: lightblue;
    }

nav {
    float: left;
    width: 30%;
    padding: 10px;
    font-family: arial;
    background-color: white;
    color: black;
    }

nav ul { list-style-type: none; }
nav a {text-decoration: none;}

main {
    float: left;
    width: 70%;
    height: 40%;
    background-color:grey;
    padding: 20px;
    }

/* mouse over link */
a:hover {
    color: red;
}

#article {
    float: left;
    padding: 20px;
    width: 70px;
}

#aside {
    float: left;
    padding: 20px;
    width: 70px;
}

p {
    font-size: 25px;
}

#footer {
    background-color:black;
    padding: 20px;
    text-align: center;
    color:white;
    }

h3 {
    font-size: 25px;
}