h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    xtext-align: center;
}

* {
    xbox-sizing: border-box;
}

.col {
    padding-right: 20px;
    border-color: black;
    border-width: 1px;
}

.row .no-gutters {
    margin: 0%;
    background-color: black;
    color: white;
}

.row {
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-top: 20px;
    xpadding-left: 30px;
}

p {
    padding-top: 20px;
}

body {
    width:auto;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color:lightslategrey;
}


