a {
    font-size: 25px;
    color: black;
    text-align: center;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    font-style: oblique;
    padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-top: 20px;
}

p {
    padding-top: 20px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 20px;
 }

 .nav .current {
     background-color: white;
 }

 li {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    float: left;
    position: relative;
    overflow: hidden;
    padding-right: 30px;
  }
  
  li::after {
    background-color: white
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease 0s;
    position: absolute;
  }
  
  li:hover {
    xbackground-color: #4f4f4f;
  }

  li:hover::after {
    width: 100%;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a:hover::after {
    content: "";
    position:absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    transition: all .5s;
    border: 1px solid white;
  }

footer {
    text-align: center;
    color: white;
    padding-top: 10px;
}

button {
    text-align: center;
    padding-bottom: 10px;
}