a {
    font-size: 20px;
    color: white;
}

h1 {
    text-shadow: 10px 20px 3px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    font-style: oblique;
    padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-top: 20px;
}

p {
    padding-top: 20px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 20px;
 }

