h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    xtext-align: center;
}

* {
    xbox-sizing: border-box;
}

.col {
    padding-right: 20px;
    xborder-color: black;
    xborder-width: 1px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-top: 20px;
    xpadding-left: 30px;
}

p {
    padding-top: 20px;
}

body {
    xwidth:auto;