h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    padding-left: 30px;
}

* {
    box-sizing: border-box;
}

.col {
    padding-right: 
    padding-left: 
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-left: 
    padding-right: 
}

p {
    padding-right: 
    padding-right: 
}