.navbar a{
    font-size: 20px;
    color: white;
}

.navbar{
    background-color: black;
}

.navbar .nav-item .nav-link{
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: white;
    transition: all 0,5;
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link.active:hover::before{
    transform: scale(1);
}

h1 {
    text-shadow: 10px 20px 3px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    font-style: oblique;
    padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding-top: 20px;
}

p {
    padding-top: 20px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
 }

