.header {
            background-color: red;
            text-align: center;
            border-color: black;
            border-width: 5px;
        }

.nav {
        background-color: yellow;
        border-color:black;
        border-width: 3px;
    }

.section {
            background-color: green;
            border-color: black;
            border-width: 5px;
        }

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color:lightblue;
    }  