body {
    background-color:grey
}
.reunus {
    border-width: 2px;
    border-style: solid; 
    color: black
}

h1    {
        font-size: 40px; 
        border: 5px red;
        padding: 25px;
      }

p      {
        font-size: 25px;
        background-color:white;
        border-radius: 15%;
        width: 400px;
        height: 50px;  
      }

a img { border-width 2px; 
border-style: solid;
color: white;
border-radius: 5px;} 