.header {
            background-color: red;
        }

.nav {
        background-color: yellow;
    }

.section {
            background-color: green;
        }

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  