.header {
            background-color: red;
            text-align: center;
            border: 5px black;
        }

.nav {
        background-color: yellow;
        border: 3px black;
    }

.section {
            background-color: green;
            border: 5px black
        }

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color:lightblue;
    }  