body {
    background-color:cornflowerblue;
}

.reunus {
    border-width: 2px;
    border-style: dotted; 
    color: red;
}

h1    {
        font-size: 20px;  
      
      }

p      {
        font-size: 18px;
      }

a img { border-width 2px; 
border-style: solid;
color: white;
border-radius: 5px;} 

xa {border: 10px solid yellow;}
ximg {border: 10px solid purple;} 

#kuva1 {height: 100px;}
#kuva2 {height: 50px;}
