body {
    background-color: grey;
}

main {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 20px;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
    border: 1px solid;
    padding: 5px;
}

table {
    border-collapse: collapse; 
    border: 1px black;
    padding-bottom: 5px;
}

form {
    padding: 5px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
}

th {background-color: lightgreen;

.reunat-pois {border: none;
    background-color: none;
}

th {
    color: red;
}

td {
    text-align: center;
}