body {
    background-color: grey;
}

main {
    background-color:white;
}

caption {
    font-size: 10px;
}

header {
    font-size: 15px;
}

table, td, th {
    border: 1px solid;
    padding: 5px;
}

table {
    border-collapse: collapse; 
    border: none;
}

th {background-color: cadetblue;}

.reunat-pois {border: none;
    background-color: none;
}

th {
    color: red;
}

td {
    text-align: center;
}