body {
    background-color:black;
}

main {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 20px;
}

header {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

h1 {
    font-style: oblique;
}

table, td, th {
    border: 1px solid;
    padding: 5px;
}

table {
    border-collapse: collapse; 
    border: 1px black;
    padding-bottom: 5px;
    padding: 5px;
}

form {
    padding: 5px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
}

th {
    background-color: lightgreen; 
    color: red;
}

tr {
    background-color: white;
}

td {
    text-align: center;
}

p {
    padding: 5px;
}