#header {
            background-color: red;
            text-align: center;
        }

#nav {
        background-color: yellow;
    }

#section {
            background-color: green;
        }

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    }  