body {
    background-color:grey
}
.reunus {
    border-width: 2px;
    border-style: solid; 
    color: black
}

h1    {
        font-size: 40px; 
        border: 10px red;
        padding: 25px;
      }

p      {
        font-size: 25px;
        background-color:white;
        border-radius: 15%;
        width: 400px;
        height: 50px;  
      }

a img { border-width 2px; 
border-style: solid;
color: white;
border-radius: 5px;} 

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }