body {
    background-color:grey
}
.reunus {
    border-width: 2px;
    border-style: solid; 
    color: black
}

h1    {
        font-size: 50px;  
      
      }

p      {
        font-size: 25px;
        background-color:white;
        border-radius: 25%
      }

a img { border-width 2px; 
border-style: solid;
color: white;
border-radius: 5px;} 

#kuva1 {height: 100px;}
#kuva2 {height: 50px;}
