body {
    background-color:grey
}
.reunus {
    border-width: 2px;
    border-style: solid; 
    color: black
}

h1    {
        font-size: 40px;  
      
      }

p      {
        font-size: 25px;
        background-color:white;
        border-radius: 10%;
        width: 200px;
        height: 150px;  
      }

a img { border-width 2px; 
border-style: solid;
color: white;
border-radius: 5px;} 