a {
    font-size: 25px;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

p {
    padding-left: 20px;
    padding-top: 30px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
 }

img {
    src: "Toni reseptit.png";
    width: 40%;
    height: 40%;
    text-align: left;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-top: 30px;
}

label {
    padding-left: 5px;
}

form {
    padding: 10px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
    padding-left: 10px;
}

.nav .current {
    background-color: white;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
   padding-right: 30px;
 }
 
 li::after {
   background-color: white
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }
 
 li:hover {
   xbackground-color: #4f4f4f;
 }

 li:hover::after {
   width: 100%;
 }

 a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid white;
  }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 footer {
    text-align: center;
    color: white;
}