a {
    font-size: 20px;
}

h1 {
    text-shadow: 10px 20px 3px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    }
}

p {
    padding-left: 20px;
    padding-top: 30px;
}

body {
    xbackground-color:paleturquoise;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-top: 30px;
}

label {
    padding-left: 10px;
}

form {
    padding: 5px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
}
