a {
    font-size: 25px;
}

.left {
    width: 40%;
    height: 40%;
    text-align: left;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

* {
    box-sizing: border-box;
  }
  
          /* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    color:black;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    xbackground-color: #717171;
  }
  
  /* Fading animation */
  .mySlides {
    animation-name:  none;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

p {
    xpadding-left: 20px;
    xpadding-top: 30px;
    float: right;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: seashell;
 }

img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-top: 30px;
}

label {
    padding-left: 5px;
}

form {
    padding: 10px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
    padding-left: 10px;
}

.nav .current {
    background-color: white;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
   padding-right: 30px;
 }
 
 li::after {
   background-color: white
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }

 li:hover::after {
   width: 100%;
 }

 .sr-only {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
 }

 .navborder {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
 }

 a:hover::after {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
  }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 footer {
    text-align: center;
    color: white;
}

#main {
    xwidth: 400px;
    xheight: 100px;
   xborder: 1px solid #c3c3c3;
    xdisplay: flex;
    xjustify-content: center;
  }
  
  #main div {
    xwidth: 70px;
    xheight: 70px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

