a {
    font-size: 25px;
    text-align: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.left {
    width: 30%;
    height: 30%;
    text-align: left;
    padding-bottom: 15px;
    padding-right: 15px;
    border: none;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightcyan;
    padding: 20px;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

* {
    box-sizing: border-box;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: seashell;
 }

.nav .current {
    background-color: white;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
   padding-right: 30px;
 }
 
 li::after {
   background-color: white
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }

 li:hover::after {
   width: 100%;
 }

 .sr-only {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
 }

 .navborder {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
 }

 a:hover::after {
    content: "";
    position:absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
  }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 footer {
    text-align: center;
    color: white;
}

label {
    padding-left: 5px;
}

form {
    padding: 10px;
    padding-bottom: 5px;
}

.checkbox {
    padding-bottom: 5px;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightcyan;
    padding: 20px;
    }

#main {
    xwidth: 400px;
    xheight: 100px;
   xborder: 1px solid #c3c3c3;
    xdisplay: flex;
    xjustify-content: center;
  }

main {
    padding: 20px;
  }
  
  #main div {
    xwidth: 70px;
    xheight: 70px;
  }
