h1 {
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

nav {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

link {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.row:after {
    xcontent: "";
    xdisplay: table;
    xclear: both;
}

p {
    padding-left: 20px;
    padding-top: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-top: 30px;
}