h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

nav {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    padding-right: 20px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    size: 20%;
}