h1 {
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

nav {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 30px;
    padding-right: 20px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    padding-top: 20px;
    padding-right: 20px;
}

img {
    max-width: 150%;
    max-height: 150%;
    padding: 30px;
    padding-left: 30px;
}