a {
    font-size: 30px;
}

h1 {
    text-shadow: 10px 20px 3px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display:inline;
}

img {
    max-width: 250px;
    max-height: 250px;
    text-align: left;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
    background-image: url('food stock image.jpg');
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
 }

h2 {
    padding-left: 30px;
}

#header {
    padding-left: 30px;
}

.nav .current {
    background-color: white;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
 }
 
 li::after {
   background-color: white
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }
 
 li:hover {
   xbackground-color: #4f4f4f;
 }

 li:hover::after {
   width: 100%;
 }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid white;
  }