h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

img {
    max-width: 200px;
    max-height: 150px;
    text-align: left;
    padding-right: 50px;
    padding-left: 20px;
}
