h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: inline;
}

img {
    max-width: 200px;
    max-height: 200px;
    text-align: left;
}
