h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display:inline;
}

img {
    max-width: 250px;
    max-height: 250px;
    text-align: left;
    padding-right: 50px;
    xpadding-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

div {
    xpadding-left: 30px;
}

h2 {
    padding-left: 20px;
}

#header {
    padding-left: 30px;
}