a {
    font-size: 25px;
}

.left {
    width: 40%;
    height: 40%;
    text-align: left;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
  padding-left: 20px;
}

p {
  font-size: 20px;
}

img {
    max-width: 250px;
    max-height: 250px;
    text-align: left;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: lightcyan;
    padding:20px;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color:seashell;
 }

.column {
    float: right;
    width: 50%;
    padding: 10px;
}

/* clear floats after the columns */
.rowafter {
    content:"";
    display: table;
    clear: both;
}

h2 {
    font-size: 30px;
}

#header {
    padding-left: 30px;
}

.nav .current {
    background-color: white;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
   padding-right: 30px;
 }
 
 li::after {
   background-color: white
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }
 
 li:hover {
   xbackground-color: #4f4f4f;
 }

 li:hover::after {
   width: 100%;
 }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 a:hover::after {
    content: "";
    position: absolute;
    left: 7%;
    right: 25%;
    bottom: 0;
    border: 2px solid white;
  }

  footer {
    text-align: center;
    color: white;
    padding-top: 10px;
}

