a {
    font-size: 25px;
}

.left {
    max-width: 250px;
    max-height: 250px;
    padding-right: 100px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

h1 {
    text-shadow: 7px 3px 4px #525252;
    font-size: 5vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    padding-left: 0px;
}

p {
  font-size: 20px;
  padding-top: 10px;
}

.col-sm-5 {
  padding-left: 40px;
  padding-right: 40px;
}

body {
    background-image: url('food stock image.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: lightcyan;
    padding:20px;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color:seashell;
 }

.column {
    float: left;
}

.rowafter {
    content:"";
    display: table;
    clear: both;
}

h2 {
    font-size: 20px;
}

#header {
    padding-left: 30px;
}

li {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
   float: left;
   position: relative;
   overflow: hidden;
   padding-right: 30px;
 }
 
li::after {
   background-color: white;
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.5s ease 0s;
   position: absolute;
 }
 
ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

a:hover::after {
    content: "";
    position: absolute;
    left: 7%;
    right: 16%;
    bottom: 0;
    border: 2px solid white;
  }

footer {
    text-align: center;
    color: white;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  body {
      background-image: url('food stock image.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: lightcyan;
      padding: 20px;
  }
}