h1 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display:inline;
}

img {
    max-width: 200px;
    max-height: 200px;
    text-align: left;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

div {
    padding-left: 30px;
}