a {
    font-size: 20px;
}

h1 {
    text-shadow: 10px 20px 3px #525252;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display:inline;
}

img {
    max-width: 250px;
    max-height: 250px;
    text-align: left;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
    background-image: url('food stock image.JPEG');
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
 }

h2 {
    padding-left: 30px;
}

#header {
    padding-left: 30px;
}